/Course Reflection.html~
/Course Reflection.org~
/course_reflection.html~
/course_reflection.org~
/desiderata.org~
/interaction_criticism_reflection.html~
/interaction_criticism_reflection.org~
/interaction_design_in_10_years.html~
/interaction_design_in_10_years.org~
/makeup.html~
/makeup.org~
/stories.html~
/stories.org~
